/* Dashboard.css */
.container {
    display: flex;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #222831;
    color: #ece9e6;
    transition: transform 0.3s ease;
    transform: translateX(-200px);
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ece9e6;
}

.sidebar ul li a:hover {
    color: #bbe1fa;
}

.main-content {
    flex: 1;
}

.sidebar-toggle {
    display: none;
    /* Hide the button on larger screens */
}

@media screen and (max-width: 768px) {
    .sidebar-toggle {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 999;
    }
}