asgiref==3.7.2                        # ASGI specs implementation, commonly used with Django.
certifi==2023.7.22                    # Certificate authority (CA) bundle for Python.
charset-normalizer==3.3.2             # Charset normalization library for Python.
coreapi==2.3.3                        # Python client library for Core API.
django==4.0                           # Django web framework.
django-grappelli==3.0.8               # Django admin interface customization.
djangorestframework==3.14.0           # Django REST framework.
djangorestframework-simplejwt==5.3.1  # JWT authentication for Django REST framework.
drf-yasg==1.21.7                      # Yet another Swagger generator for Django REST framework.
idna==3.4                             # Internationalized Domain Names in Applications (IDNA).
pyTelegramBotAPI==4.14.0              # Python wrapper for Telegram Bot API.
python-decouple==3.8                  # Separation of settings from code for Python projects.
requests==2.31.0                      # HTTP library for Python.
sqlparse==0.4.4                       # SQL parser for Python.
urllib3==2.0.7                        # HTTP client library for Python.
watchdog==2.1.3                       # File system events monitoring for Python.

