<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MarzbanHome</title>
    <link rel="stylesheet" href="../static/styles/home.css" />
  </head>
  <body>
    <img class="Logo" src="../static/images/QiLogo.png" alt="QiLogo" />
    <div><h1 class="Welcome">Welcome</h1></div>
    <div id="container">
      <nav role="navigation">
        <ul>
          <li>
            <a href="setting.html" target="_blank"
              ><span class="menu-style">Setting</span></a
            >
          </li>
          <li>
            <a href="products.html" target="_blank"
              ><span class="menu-style">Products</span></a
            >
          </li>
          <li>
            <a href="clients.html" target="_blank"
              ><span class="menu-style">Clients</span></a
            >
          </li>
          <li>
            <a href="guide.html" target="_blank"
              ><span class="menu-style">Guide</span></a
            >
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
