<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MarzbanHome</title>
    <link rel="stylesheet" href="../static/styles/home.css" />
  </head>
  <body>
    <img class="Logo" src="../static/images/QiLogo.png" alt="QiLogo" />
    <h2 class="Welcome">Welcome</h2>
    <ul class="menu">
      <li><a href="texts.html">texts</a></li>
      <li><a href="settings.html">settings</a></li>
      <li><a href="products.html">products</a></li>
    </ul>
  </body>
</html>
