<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>QiHome</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap"
    />
    <link rel="stylesheet" href="../static/styles/home.css" />
  </head>
  <body>
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="../static/images/QiLogo.png" alt="QiLogo" />
          </span>
          <div class="text logo-text">
            <span class="name">QiVPN </span>
            <span class="profession">speed is our signetur</span>
          </div>
        </div>
        <i class="bx bx-chevron-right toggle"></i>
      </header>
      <div class="image-div">
        <div class="menu-bar">
          <div class="menu">
            <li class="search-box">
              <i class="bx bx-search icon"></i>
              <input type="text" placeholder="Search..." />
              <img
                class="search-box-img"
                src="../static/images/search.png"
                alt="search-box-img"
              />
            </li>
            <ul class="menu-links">
              <li class="nav-link">
                <a href="../templates/products.html">
                  <i class="bx bx-home-alt icon"></i>
                  <span class="text nav-text">Dashboard</span>
                </a>
                <img
                  class="Dashboard"
                  src="../static/images/dashboard.png"
                  alt="Dashboard"
                />
              </li>
              <li class="nav-link">
                <a href="#">
                  <i class="bx bx-bar-chart-alt-2 icon"></i>
                  <span class="text nav-text">Products</span>
                </a>
                <img
                  class="Products"
                  src="../static/images/products.png"
                  alt="Products"
                />
              </li>

              <li class="nav-link">
                <a href="#">
                  <i class="bx bx-bell icon"></i>
                  <span class="text nav-text">Message</span>
                </a>
                <img
                  class="Message"
                  src="../static/images/message.png"
                  alt="Message"
                />
              </li>

              <li class="nav-link">
                <a href="#">
                  <i class="bx bx-pie-chart-alt icon"></i>
                  <span class="text nav-text">Setting</span>
                </a>
                <img
                  class="Setting"
                  src="../static/images/setting.png"
                  alt="Setting"
                />
              </li>

              <li class="nav-link">
                <a href="#">
                  <i class="bx bx-heart icon"></i>
                  <span class="text nav-text">Documents</span>
                </a>
                <img
                  class="Documents"
                  src="../static/images/documents.png"
                  alt="Documents"
                />
              </li>

              <li class="nav-link">
                <a href="#">
                  <i class="bx bx-wallet icon"></i>
                  <span class="text nav-text">Donate</span>
                </a>
                <img
                  class="Donate"
                  src="../static/images/donate.png"
                  alt="Donate"
                />
              </li>
            </ul>
          </div>

          <div class="bottom-content">
            <li class="">
              <a href="#">
                <i class="bx bx-log-out icon"></i>
                <span class="text nav-text">Logout</span>
              </a>
            </li>

            <li class="mode">
              <div class="sun-moon">
                <i class="bx bx-moon icon moon"></i>
                <i class="bx bx-sun icon sun"></i>
              </div>
              <span class="mode-text text">Dark mode</span>

              <div class="toggle-switch">
                <span class="switch"></span>
              </div>
            </li>
          </div>
        </div>
      </div>
    </nav>

    <section class="home">
      <div class="text">Qi Dashboard</div>
    </section>
    <script src="../static/home.js"></script>
  </body>
</html>
