<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MarzbanLogin</title>
    <link href="../static/styles/loginـpage.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="loginPage">
    <img class="Logo" src="../static/images/QiLogo.png" alt="QiLogo">
    <h2 class="qilogin">LOGIN</h2>
    <form>
      <input placeholder="Username" type="text"></input>
      <input placeholder="Password" type="password"></input>
      <section class="links">
        <button class="button"><span>LOGIN</span></button>
        <br><br>
      </section>
    </form> 
</div>
<script src="jquery.js"></script>
</body>
</html>
