body {
    background-color: rgb(255, 255, 255);
}

.Welcome {
    text-align: center;
    margin-top: -80px;
}

.Logo {
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 5px;
}

#container {
    position: fixed;
    width: 400px;
    margin-top: -65px;
    padding-left: 1190px;
}

nav ul {
    list-style: none;
    display: inline-table;
    background-color: #333;
    border: 1px solid #333;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    padding: 10px;
    padding-left: 0.5px;
}

nav ul li {
    float: left;
}

nav ul li a {
    margin-left: 15px;
    text-decoration: none;
}

.menu-style {
    padding: 10px;
    background: rgb(250, 242, 165);
    color: rgb(255, 115, 0);
    display: inline-block;
    position: relative;
}

.menu-style:before,
.menu-style:after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition: all .7s;
    opacity: 0;
    z-index: -1;
}

.menu-style:before {
    background: #333;
    left: -50%;
}

.menu-style:after {
    background: #333;
    right: -50%;
}

nav ul li a:hover .menu-style:before {
    left: 0;
    opacity: 1;
}

nav ul li a:hover .menu-style:after {
    right: 0;
    opacity: 1;
}

nav ul li a:hover .menu-style {
    background: none;
}