body {
    background-color: rgb(219, 219, 219);
}

.Welcome {
    text-align: center;
    margin-top: -65px;
    padding: 0;
}

.Logo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
}